.container {
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 1em;
  background: none;
  outline: none;
  border-radius: 7px;
  border: 2px solid white;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.container span {
  word-wrap: break-word;
  margin-right: 40px;
}
.container span:nth-child(2) {
  margin-right: auto;
}
.buttons a {
  margin-left: 10px;
}

.buttons button {
  outline: none;
  background: none;
  padding: 7px;
  border-radius: 7px;
  width: 70px;
  cursor: pointer;
  border: 2px solid red;
  color: red;
}
