.container {
  width: 100%;
  padding: 20px;
  font-size: 1em;
  background: none;
  outline: none;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  margin: 10px 0;
  direction: ltr;
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template: 1fr / 100px 130px auto 250px;
}

.container span {
  margin-right: 40px;
}
/* .container span:nth-child(3) {
  margin-right: auto;
} */
.buttons a {
  margin-left: 10px;
}

.buttons button {
  outline: none;
  background: none;
  padding: 7px;
  border-radius: 7px;
  width: 70px;
  cursor: pointer;
  border: 2px solid red;
  color: red;
}
