.buttons {
  margin: 30px 0 60px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container h4 {
  font-size: 1.3em;
}
.buttons button {
  outline: none;
  background: none;
  padding: 7px;
  border-radius: 7px;
  width: 70px;
  cursor: pointer;
}
.cancel {
  border: 2px solid red;
  color: red;
}
.save {
  border: 2px solid green;
  color: green;
}
